{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{%endblock%}
{%block content%}
  <div class="container" style="margin-right: 75px; margin-top: 2px;" >
    <h3 style="color: green;text-align: center">{{title}} <br>
      <a style="text-align: center; color: blue;" class="navbar-brand" href="/pitches/new"> Add Pitch </a>
    </h3>
    <br>
    <div class="tab-content">
      <div class="container tab-pane active"><br>
        {{ macro.display(love)}}
        {{ macro.display(education) }}
        {{ macro.display(business)}}
        {{ macro.display(promotion) }}
        {{ macro.display(interview) }}
      </div>
    </div>
  </div>
{%endblock%}