
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
          <div class="container tab-pane fade" style="font-family: Vioda Libre;">
            {{ macro.display(love) }}
          </div><br>
        <div class="container tab-pane fade" style="font-family: Vioda Libre;">
          {{ macro.display(business) }}
        </div><br>
        <div class="container tab-pane fade" style="font-family: Vioda Libre;" >
          {{ macro.display(interview)}}
        </div><br>
        <div class="container tab-pane fade" style="font-family: Vioda Libre;" >
          {{ macro.display(promotion) }}
        </div><br>
        
        <div class="container tab-pane fade" style="font-family: Vioda Libre;" >
            {{ macro.display(education) }}
          </div>
      </div>
     
{% endblock %}